CompileFlags:
    Remove: [-mlongcalls, -fstrict-volatile-bitfields, -fno-tree-switch-conversion, -mdisable-hardware-atomics]
    Add: [-Wall, -Wextra, -Wpedantic, -Wreserved-identifier, --target=xtensa-esp-unknown-elf, -mcpu=esp32]
